<div>
  <h1>
    Service Types
    <%= link_to 'New Service type', new_service_type_path, :class => 'btn btn-default' %>
  </h1>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mileage interval</th>
      <th>Month interval</th>
    </tr>
  </thead>

  <tbody>
    <% @service_types.each do |service_type| %>
      <tr>
        <td><%= link_to service_type.name, service_type %></td>
        <td><%= number_with_delimiter(service_type.mileage_interval) %></td>
        <td><%= service_type.month_interval %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


