<h2>User Profile</h2>
<%= link_to "Change your password", edit_user_registration_path %>
<% if @vehicles %>
<div>
	<strong>Vehicle Assignments</strong>
	
  	<% @vehicles.each do |x| %>
  	
        <div class="vehicle_with_report">
          <%= form_tag new_weekly_report_path, method: :get, :class => "form-inline list_view" do %>
            <%= hidden_field_tag :vehicle_id, x.id %>
            <%= submit_tag "New Weekly Report for Vehicle #{x.number}", name: nil, :class => "btn btn-primary" %>
          <% end %>
        </div>

  	<% end %>

</div>
<% end %>