<h1>Upcoming Service</h1>

<p>
  Vehicle <%= @vehicle.number %> assigned to <%= @user %> is going to be due for <%= @service.service_type.name %> soon.
  Please schedule with your supervisor and the fleet mechanic.
</p>