<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checked_item_type.name %>
</p>

<%= link_to 'Edit', edit_checked_item_type_path(@checked_item_type) %> |
<%= link_to 'Back', checked_item_types_path %>
