<% @vehicles.each do |v| %>
  <tr>
    <td><%= link_to v.number, vehicle_path(v) %></td>
    <td><%= v.current_mileage %></td>
    <% unless v.vehicle_inspection_reports.empty? %>
      <td><%= v.vehicle_inspection_reports.last.mileage %></td>
    <% else %>
      <td>No reports on file</td>
    <% end %>
    <% if v.vehicle_assignment %>
      <td><%= v.vehicle_assignment.user.full_name %></td>
    <% else %>
      <td>None assigned</td>
    <% end %>
  </tr>
<% end %>
