<table class="table table-bordered">
  <tr>
    <th>Service Type</th>
    <th>Vehicle</th>
    <th>Current Mileage</th>
    <th>Due Mileage</th>
    <th>Due Date</th>
    <th>Driver</th>
  </tr>
  <%= render partial: "overdue_services" %>
</table>