<h1 class="col-md-8">
  Vehicles Overdue For Service
</h1>
<table class="table table-bordered">
  <tr>
    <th>Number</th>
    <th>Current Mileage</th>
    <th>Last Insp. Mileage</th>
    <th>Driver</th>
  </tr>
  <%= render partial: "overdue_services" %>
</table>
