// Place all the styles related to the VehicleInspectionReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments input{
  width: 100%;
}

.comments_header {
  width: 65%;
}
.inspection_title {
  width: 25%;
}
.inspection_completed {
  size: 10%;
}