// Place all the styles related to the VehicleInspectionReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments input{
  width: 100%;
}

.comments_header {
  width: 65%;
  font-weight: lighter;
}
.inspection_title {
  width: 25%;
  font-weight: lighter;
}
.inspection_complete {
  size: 10%;
  font-weight: lighter;
}
.inspection-table {
  font-size: 10px;
  font-weight: lighter;
  text-align: center;
}
.centered {
  text-align: center;
}
h3 {
  font-size: 20px;
  margin: 0px;
  background-color: lightgray;
}
.right {
  text-align: right;;
}