<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checklist_type.name %>
</p>

<%= link_to 'Edit', edit_checklist_type_path(@checklist_type) %> |
<%= link_to 'Back', checklist_types_path %>
